name: CI - Phase 1 (Static Analysis)

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

jobs:
  static-analysis:
    name: Lint & Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: 1. Verify Formatting (Prettier)
        run: npm run format:check

      - name: 2. Run Linter (ESLint)
        run: npm run lint

      - name: 3. Type Check (TSC)
        run: npm run type-check

  unit-tests:
    name: Unit Testing
    runs-on: ubuntu-latest
   
    # Optional: Only run tests if linting passes to save resources(comment to be removed once sure of necessity)
    needs: static-analysis 
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install Dependencies
        run: npm ci

      - name: 4. Settlement Service Test (Jest)
        run: npm test tests/settlement.service.test.ts
